<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="orange01">

<!-- for relevantcodes/extentreports -->
 <!-- <listeners>
		<listener class-name="com.orangrhrm.utilities.Extentreports"></listener>
	</listeners> -->
	
	<!-- for aventstack/extentreports -->
	 <listeners>
		<listener class-name="com.education.utilities.Reporting"></listener>
	</listeners> 

	<test name="orangeHRM">
	<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.education.runners.LoginPageValidation"></class>
		</classes>
	</test>
</suite>